//big-button
.big__button {
     background : $big-button;
     border-color: $big-button;
     font-weight: bold;
     color: white;
     font-size: $l-size;
     width: 100%;
     padding: 2.2rem;
     margin: 10px 0 $m-size 0;
}

.big__button:disabled {
    opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) {
    .big__button {
        margin-bottom: $xl-size;
    }
}
//button

.button {
    background: $big-button;
    border-color: $big-button;
    color: white;
    padding: $s-size;
    font-weight: 500;
}

.button--link {
    background: none;
    border : none;
    color: $big-button;
    padding:0;
}